<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= @student.first_name %>'s Profile</title>
</head>
<body>
    <h1>Student Profile:</h1>
    <br>
    <h1>Firstname: <%= @student.first_name %></h1>
    <br>
    <h1>Lastname: <%= @student.last_name %></h1>
</body>
</html>